@use '../common/module';

.current_result {
    width: 98%;
    margin: 0 auto;

    .current_exam_info {
        width: 100%;
        display: flex;
    }

    .info {
        width: 70%;
    }

    .total_mark {
        width: 30%;
    }

    .info,
    .total_mark {
        background-color: $primary_color;
        padding: 10px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        white-space: nowrap;
    }

    .result {
        width: 100%;

    }

    .header {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;

        span {
            font-weight: bolder;
            font-size: 20px;
            text-align: center;
        }
    }

    .header.result_folder_page {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .result_container {
        margin: 10px auto;
    }

    .show_result {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        margin: 10px auto;

        &:nth-of-type(odd) {
            background-color: white;
        }

        padding: 15px;

        .title {
            display: none;
            font-weight: bolder;
        }

        @include module.transition;

        &:hover {
            @include module.shadow;
        }
    }

    .show_result.result_folder_page {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .qustion {
        padding: 5px;

        p {
            text-align: center;
        }
    }

    .std_answer,
    .answer_status,
    .correct_ans {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .answer_status {
        .correct_ans {
            background-color: rgb(44, 224, 44);
            padding: 5px 10px;
            font-weight: bold;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
        }

        .false_ans {
            color: white;
            background-color: red;
            padding: 5px 10px;
            font-weight: bold;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
        }
    }

    @media screen and (max-width: 780px) {
        .current_exam_info {
            flex-direction: column;
        }

        .info {
            width: 100%;
        }

        .total_mark {
            width: 100%;
        }

        .header {
            display: none;
        }

        .show_result,
        .show_result.result_folder_page {
            grid-template-columns: 1fr;
            margin: 20px auto;

            .title {
                display: block;
            }
        }
    }
}