@use '../common/module';

.dept_wrap {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;

    h1 {
        @include module.h1_tag($primary_color);
    }


    .department {
        padding: 20px 15px 20px 10px;
        width: 100%;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

        a {
            background-color: white;
            height: 70px;
            font-size: 20px;
            letter-spacing: 1px;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -ms-border-radius: 20px;
            -o-border-radius: 20px;
            transition: all 0.5s ease-in-out;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -ms-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;

            &:hover {
                @include module.shadow;
            }
        }
    }

}