@use '../common/module';

* {
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    -ms-tap-highlight-color: transparent;
    -o-tap-highlight-color: transparent;

    ::-moz-selection {
        /* Code for Firefox */
        color: white;
        background: $primary_color;
    }

    ::-webkit-selection {
        /* Code for Firefox */
        color: white;
        background: $primary_color;
    }

    ::-ms-selection {
        /* Code for Firefox */
        color: white;
        background: $primary_color;
    }

    ::-o-selection {
        /* Code for Firefox */
        color: white;
        background: $primary_color;
    }

    ::selection {
        color: white;
        background: $primary_color;
    }
}

.oe-pagination {
    width: 98%;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination_wrap {

    a,
    span {
        padding: 10px 20px;
        text-decoration: none;
        border: 1px solid $primary_color;
        color: $primary_color;
        font-weight: bolder;

        @include module.transition;

        &:hover {
            background-color: $primary_color;
            color: white;
        }
    }

    .current {
        background-color: $primary_color;
        color: white;
    }
}