@use '../common/module';

.notice {
    width: 98%;
    margin: 20px auto;

    h1 {
        @include module.h1_tag($primary_color);
    }

    .notice_container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        .previous {
            padding-bottom: 20px;
        }

        div {
            align-self: flex-start;
            width: 48%;
            min-width: 350px;
            margin: 0 auto;
            background-color: white;
            height: auto;
            display: block;

            h2 {
                position: relative;
                text-align: center;
                padding: 10px 0 20px 0;

                &::after {
                    content: "";
                    position: absolute;
                    left: 50%;
                    width: 20%;
                    height: 5px;
                    display: block;
                    background-color: $primary_color;
                    transform: translateX(-50%);
                    -webkit-transform: translateX(-50%);
                    -moz-transform: translateX(-50%);
                    -ms-transform: translateX(-50%);
                    -o-transform: translateX(-50%);
                }
            }

            div {
                padding: 10px 15px 20px 15px;
                display: block;
                width: 94%;
                margin: 20px auto;
                text-decoration: none;
                color: black;

                span {
                    strong {
                        padding-right: 10px;
                    }
                }

                &:hover {
                    @include module.shadow;
                }

                transition: all 0.5s ease-in-out;
                -webkit-transition: all 0.5s ease-in-out;
                -moz-transition: all 0.5s ease-in-out;
                -ms-transition: all 0.5s ease-in-out;
                -o-transition: all 0.5s ease-in-out;
            }

            .view_all {
                @include module.btn($primary_color);
                padding: 10px 15px;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                -webkit-transform: translateX(-50%);
                -moz-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                -o-transform: translateX(-50%);
            }

            &:hover {
                @include module.shadow;
            }

            transition: all 0.5s ease-in-out;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -ms-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -ms-border-radius: 20px;
            -o-border-radius: 20px;
        }

        @media screen and (max-width: 800px) {
            div {
                width: 98%;
                margin: 20px auto;
            }
        }
    }
}