@use '../common/module';

.single_post {
    .desc {
        color: black;
        display: flex;
        flex-direction: column;
    }

    h1 {
        align-self: flex-start;
        color: $primary_color;
        letter-spacing: 1px;
    }

    .post_details {
        display: flex;
        flex-direction: column;
        padding: 20px;
        @include module.transition;

        &:hover {
            @include module.shadow;
        }
    }

    .comment-section {
        background-color: white;
        list-style: none;
        max-width: 900px;
        width: 98%;
        margin: 50px auto;
        padding: 20px;
        @include module.transition;
        @include module.border-radious;

        &:hover {
            @include module.shadow;
        }

        .load_more {
            margin: 20px auto;
            display: flex;
            justify-content: center;

            button {
                @include module.btn($primary_color);
            }
        }
    }

    .comment {
        display: flex;
        border-radius: 3px;
        margin-bottom: 45px;
        flex-wrap: wrap;
    }

    .comment.user-comment {
        color: #808080;
    }

    .comment.author-comment {
        color: #60686d;
        justify-content: flex-end;
    }

    /* User and time info */

    .comment .info {
        width: 17%;
    }

    .comment.user-comment .info {
        text-align: right;
    }

    .comment.author-comment .info {
        order: 3;
    }


    .comment .info a {
        /* User name */
        display: block;
        text-decoration: none;
        color: $primary_color;
        font-weight: bold;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding: 10px 0 3px 0;
    }

    .comment .info span {
        /* Time */
        font-size: 11px;
        color: black;
    }


    /* The user avatar */

    .comment .avatar {
        width: 8%;
    }

    .comment.user-comment .avatar {
        padding: 10px 18px 0 3px;
    }

    .comment.author-comment .avatar {
        order: 2;
        padding: 10px 3px 0 18px;
    }

    .comment .avatar img {
        display: block;
        border-radius: 50%;
        border: 1px solid $primary_color;
    }

    .comment.user-comment .avatar img {
        float: right;
    }





    /* The comment text */

    .comment p {
        line-height: 1.5;
        padding: 18px 22px;
        width: 50%;
        position: relative;
        word-wrap: break-word;
    }

    .comment.user-comment p {
        background-color: #f3f3f3;
    }

    .comment.author-comment p {
        background-color: #e2f8ff;
        order: 1;
    }

    .user-comment p:after {
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #ffffff;
        border: 2px solid #f3f3f3;
        left: -8px;
        top: 18px;
    }

    .author-comment p:after {
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #ffffff;
        border: 2px solid #e2f8ff;
        right: -8px;
        top: 18px;
    }




    /* Comment form */
    .write-new {
        width: 100%;

        #reply-title {
            color: $primary_color;
        }

        .comment-form-comment {
            label {
                display: none;
            }

            textarea {
                width: 60%;
                border: 1px solid $primary_color;
                padding: 15px;
                outline: none;
            }

            textarea:focus {
                border: 1px solid $primary_color;
            }
        }

        .form-submit {
            .oe_comment_submit {
                @include module.btn($primary_color);
                margin-top: 20px;
            }
        }

        .comment_txt {
            color: $primary_color;
            text-align: center;
            white-space: nowrap;

            span {
                font-size: 25px;
                color: black;
            }
        }

        @media screen and (max-width: 750px) {
            .comment-form-comment {
                textarea {
                    width: 70%;
                }
            }
        }

        @media screen and (max-width: 576px) {
            .comment-form-comment {
                textarea {
                    width: 100%;
                }
            }
        }
    }

    /* end of comment form */


    /* Responsive styles */

    @media (max-width: 800px) {

        /* Make the paragraph in the comments take up the whole width,
    forcing the avatar and user info to wrap to the next line*/
        .comment p {
            width: 100%;
        }

        /* Reverse the order of elements in the user comments,
    so that the avatar and info appear after the text. */
        .comment.user-comment .info {
            order: 3;
            text-align: left;
        }

        .comment.user-comment .avatar {
            order: 2;
        }

        .comment.user-comment p {
            order: 1;
        }


        /* Align toward the beginning of the container (to the left)
    all the elements inside the author comments. */
        .comment.author-comment {
            justify-content: flex-start;
        }


        .comment-section {
            margin-top: 10px;
        }

        .comment .info {
            width: auto;
        }

        .comment .info a {
            padding-top: 15px;
        }

        .comment.user-comment .avatar,
        .comment.author-comment .avatar {
            padding: 15px 10px 0 18px;
            width: auto;
        }

        .comment.user-comment p:after,
        .comment.author-comment p:after {
            width: 12px;
            height: 12px;
            top: initial;
            left: 28px;
            bottom: -6px;
        }
    }

}